{%  extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class= "alert alert-info">
    <div class= "col-sm-4 com-sm-offset-4">
    <h1>{{title}}</h1>
     <form class='' method="post" action="" enctype="multipart/form-data" action='.'>
     {% csrf_token %}
     {{ form|crispy|safe }}
     {{message}}
        
     <input type="submit" class="btn btn-default" value="{{ title }}"/>
    </form>
    </div>
    </div>


{% endblock %}
