{%  extends 'accounts/base.html' %}
{% block content %}
    <div class="alert alert-info">
        User : {{ user }}<br/>
        SuperUser : {{ user.is_superuser }}
    </div>

        <div class="alert alert-success col-3">
            <h1 class="display-4">{{ title }}</h1>

            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        {% for user in users %}
                            <!--<a href="/users/{{ user.id }}/">-->
                                <a href="{% url 'users_detail' user.id %}">
                            <li class="list-group-item">{{ user.username }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>

    </div>
   
{% endblock %}
