
{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
         <form action="." method="post"> {% csrf_token %}
      {{form|crispy}}
      <button type="submit" name="button">Login</button>
    </form>
    {% endblock %}