{% extends 'accounts/base.html' %}
{% block content %}
         <form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
</form>
    {% endblock %}