{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
         <form  class=" my-5" action="." method="post"> {% csrf_token %}
      {{form|crispy}}
      <button type="submit" name="button">Register</button>
    </form>
    {% endblock %}