{% extends 'accounts/base.html' %}

{% block content %}
    <form action="." method="POST">{% csrf_token %}
        <h2>
            Do you want to terminate "{{ user }}"
        </h2>
    <p>
        <input type="submit" value="Yes"/>
        <!--<a href="/users/">-->
            <a href="{% url 'list' %}">
            Cancel</a>

    </p>
    </form>
{% endblock %}